.moonboard {
  background-image: url("/static/images/mypic.png");
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 2px;
}

button {
    background: transparent;
}


button.led {
  background-color: rgba(255, 200, 210, 0.8);
}
</style>
</head>
<body>