{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>A Simple Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
<div class="moonboard">

    <button name="hole" id="hole" onclick="change(this.innerHTML);" value="1" >1</button>
    <button name="led" id="led" value="0" >0</button>
    <button name="hole" id="hole2" onclick="change(this.innerHTML);" value="1" >1</button>
    <button name="led" id="led" value="0" >0</button>
    <button name="hole" id="hole3" onclick="change(this.innerHTML);" value="1" >1</button>
    <button name="led" id="led" value="0" >0</button>
    <button name="hole" id="hole4" onclick="change(this.innerHTML);" value="1" >1</button>
    <button name="led" id="led" value="0" >0</button>
    <button name="hole" id="hole5" onclick="change(this.innerHTML);" value="1" >1</button>

</div>

<script src="{{url_for('static', filename='js/moonboardroute.js')}}"></script>
</body>
</html>
{% endblock %}